@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply bg-white  dark:text-white dark:bg-gray-800;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
label,
button {
  @apply opacity-70;
}

.border_thin {
  border: 1px solid;
  @apply shadow-md dark:shadow-gray-900 border-gray-100 dark:border-gray-700;
}

.btn {
  @apply uppercase py-2 px-4 rounded-md duration-200;
}
.btn_ghost {
  @apply dark:hover:bg-gray-600 hover:bg-gray-200 m-1;
}
.btn_primary {
  @apply opacity-90 bg-blue-600 hover:bg-blue-500 text-white m-1;
}
.main {
  @apply flex justify-center w-full;
}
.input {
  @apply border_thin outline-none p-1.5 mx-1 mb-2 rounded-md;
}
.input-sm {
  @apply border_thin outline-none p-1.5 mx-1 mb-2 rounded-md w-32;
}
.input-lg {
  @apply border_thin outline-none p-1.5 mx-1 mb-2 rounded-md w-72;
}
.label {
  @apply capitalize px-1.5 pt-1 pb-0.5 mx-1;
}
.active {
  @apply btn_primary;
}
.-z-1 {
  z-index: -1;
}
.error {
  @apply outline-1 outline-red-400 outline-offset-2;
}
.alert-error {
  @apply text-red-900 bg-red-200 dark:bg-red-400 border-2 border-red-900 rounded-md p-1 w-64 text-sm mx-1;
}
.photo_cover {
  @apply relative w-full bg-slate-400  border_thin aspect-[10/2];
}
.photo_profile {
  @apply overflow-hidden absolute left-1/2 -translate-x-1/2 w-1/3 md:w-1/5 aspect-square top-3/4 bg-slate-700 rounded-full  border_thin z-50;
}
.w-2\/9 {
  width: 28%;
}
@media (min-width: 768px) {
  .md\:w-1\/7 {
    width: 15%;
  }
}
